@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main class="container d-flex align-items-center justify-content-center" id="initial-setup" style="min-height: 100vh;">
    <section class="row">
        <div class="col-md-12 text-center">
            <img src="~/img/mango.png" style="max-width: 200px;" />
            <h1>Welcome to <span class="mango-text">Mango</span> Chat</h1>
            <p>Mango aims to be a full tooled GenAI chat</p>
            <a  class="btn btn-primary btn-lg" href="@Url.Content("~/start")">
                Start <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
    </section>
</main>